* {
  font-family: "Roboto Slab", serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". cats .";
}

.cat-div-wrapper {
  column-gap: 30px;
  display: flex;
  grid-area: cats;
  justify-content: center;
}

.cat-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 400px;
  overflow: hidden;
  row-gap: 20px;
}

.cat-img-wrapper {
  height: 300px;
  overflow: hidden;
  width: auto;
}
.cat-img {
  height: 100%;
  position: relative;
  width: auto;
}

.cat-caption {
  text-align: center;
  margin: 0;
}
.cat-caption-wrapper {
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.votes-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.total-votes-p {
  width: 20px;
  text-align: center;
  grid-area: span 2;
}

.new-comment-wrapper {
  display: flex;
  flex-direction: column;
}
